html, body {
  position:relative;
  padding:0;
  margin:0;
  overflow:hidden;
  width:100%;
  height:100%;
}

.hud {
  position:absolute;
  bottom:0;
  left:0;
  background-color:#333;
  width:100%;
  height:40px;
}

.top.hud {
  top:0;
}

.bottom.hud {
  bottom:0;
}

ul.block.types {
  list-style-type:none;
  overflow:hidden;
  padding:0;
  margin:0;
}

.block.types img {
  float:left;
  display:block;
  height:32px;
  margin-top:4px;
  margin-left:4px;
  width:32px;
  overflow:hidden;
}

.message.entry {
  position:relative;
  padding-right:74px;
  height:30px;
}

.message.entry input {
  font-size:16pt;
  width:100%;
  height:100%;
  border:none;
  color:#888;
  background-color:#444;
  padding:6px;
  outline:none;
}

.message.entry button {
  position:absolute;
  right:0;
  top:0;
  margin:0;
  padding:8px 10px;
  font-size:14pt;
  border:none;
  background-color:#00A3FF;
  color:#fff;
}
